**/*.tfstate
**/*.tfstate.backup
*.tar.gz
*.tar.zst
~/
.DS_Store
defense-unicorns-distro/preflight.sh
.terraform
tmp
zarf-sbom

.cache/
.idea/
build/
.DS_Store
*.tar.zst
test/tf/public-ec2-instance/.tool-versions
zarf-sbom
tmp/
values-*.yaml

# Terraform
test/tf/public-ec2-instance/.test-data
test/tf/public-ec2-instance/.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# dubbd
on_failure.sh
run/
