apiVersion: k3d.io/v1alpha4
kind: Simple
metadata:
  name: ci
servers: 1
image: rancher/k3s:v1.26.5-k3s1
options:
  k3s:
    extraArgs:
      - arg: --disable=metrics-server
        nodeFilters:
            - server:*
      - arg: --disable=traefik
        nodeFilters:
          - server:*
      - arg: --disable=servicelb
        nodeFilters:
          - server:*
      - arg: --flannel-backend=none
        nodeFilters:
          - server:*
      - arg: --disable-network-policy
        nodeFilters:
          - server:*
  k3d:
    wait: true
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
kubeAPI:
  hostPort: "6443"
